code {
    color:#158cba
}

dt:target, span.highlighted {
    background-color: #eeeeee;
}

div.sphx-glr-download a {
    background-color: #eeeeee;
    background-image: linear-gradient(to bottom, #eeeeee, #e2e2e2);
    border: 1px solid #999999;
}

div.sphx-glr-download a:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    text-decoration: none;
    background-image: none;
    background-color: #e2e2e2;
  }